@use "../abstracts/variables" as *;

.cards-wrapper {
  display: flex;
  gap: 10px;
  margin: 5px;

  .card {
    display: flex;
    flex-direction: column;
    min-width: 185px;
    min-height: 200px;

    img {
      width: 185px;
      height: 100%;
      object-fit: cover;
    }

    .title {
      display: flex;
      margin: 10px;
      color: var(--sfont-color);
      white-space: normal;
      flex-grow: 1;
    }

    .content {
      display: flex;
      margin: 10px;
      color: var(--font-color);

      .date {
        margin-left: 10px;
      }
    }
  }
}
