.dark-mode {
  --bg: #14181f;
  --bg-secondary: #1e232c;
  --second-color: #1c8b87;
  --second-color-lighter: #10e5cf;
  --gray: #92979e;
  --black: #000000;
  --font-color: #ffffff;

  --modalbg: #14181f;
}
