$primary-color: #007bff;
$secondary-color: #6c757d;
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-spacing: 1rem;

//color
$very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
$light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
$dark-Grayish-Blue-Text: hsl(230, 17%, 14%);
$very-Dark-Blue-Text: hsl(230, 17%, 14%);
$toggle: hsl(230, 22%, 74%);
$very-Dark-Blue-BG: hsl(230, 17%, 14%);
$very-Dark-Blue-Top-BG-Pattern: hsl(230, 17%, 14%);
$dark-Desaturated-Blue-Card-BG: hsl(229, 27%, 24%);
$desaturated-Blue-Text: hsl(228, 34%, 66%);
$toggle-dark: linear-gradient(to right, hsl(210, 8%, 10%), hsl(146, 68%, 55%));
$font-color-steel-blue: #849ba8;

// dark grey and mint

$very-dark-charcoal-gray: #1b1c1e;
$slightly-lighter-gray: #282a2e;
$font-color-white: #ffffff;
$medium-grey: #9aa0a6;
$mutes-mint-green: #6b9e78;

// second color
$dark-grey: #14181f;
$slightly-lighter-gray: #1e232c;
$aqua: #1c8b87;
$aqua-lighter: #10e5cf;
$light-gray: #92979e;
$black: #000000;

$light-bg: #f5f7fa;
$light-bg-secondary: #e4e7eb;
$light-aqua: #2bb2a5;
$light-aqua-lighter: #4cead7;
$light-gray: #6b6f76;
$light-black: #000000;
